.csb__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;

}

.csb__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.csb__navbar-links_logo {
    margin-right: 2rem;
}

.csb__navbar-links_logo img {
    width: 171px;
    height: 68px;
}

.csb__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.csb__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.csb__navbar-links_container p,
.csb__navbar-sign p,
.csb__navbar-menu_container p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.77px;
    text-transform: capitalize;
    /* identical to box height, or 150% */

    margin: 0 1rem;
    cursor: pointer;

    color: #81AFDD;
}

