* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-align: center;
}

body {
    background: var(--color-bg);
    font-family: "Work_Sans", sans-serif;
}
